extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src='/img/nosotros.jpg' alt='Imagen de nosotros')
            .col-md-7
                h1 #{pagina}
                blockquote Sed non nunc facilisis, condimentum enim id, aliquam tellus. Phasellus varius, dolor quis lacinia elementum, velit nisi mollis diam, at aliquam nibh massa a leo. Donec sit amet rutrum dui, sed finibus turpis. Ut bibendum varius molestie. Donec lacinia eu libero id tristique. Proin ac elit eleifend quam faucibus blandit id ac est.
                p Cras quis nibh in quam dignissim aliquet in nec justo. Curabitur in cursus nibh. Quisque condimentum dui eget lorem pulvinar laoreet. Morbi ut tristique purus. Aenean fermentum odio at augue maximus convallis.
                p Sed gravida justo in ultrices dapibus. Nulla malesuada lacus in ultricies iaculis. Duis a quam felis. Ut ex eros, imperdiet sit amet finibus vel, condimentum ac nisi. Ut rutrum bibendum pellentesque.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.md-4(src="/img/icono_seguridad.svg", alt="icono de seguridad")
                    h2.mb-4 Seguridad
                    p Aliquam efficitur euismod nisi, vitae vehicula felis laoreet quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a gravida dolor
                .col-md-4
                    img.img-fluid.md-4(src="/img/icono_destinos.svg", alt="icono de Destinos")
                    h2.mb-4 Mejores Destinos
                    p Aliquam efficitur euismod nisi, vitae vehicula felis laoreet quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a gravida dolor
                .col-md-4
                    img.img-fluid.md-4(src="/img/icono_precios.svg", alt="icono de Precios")
                    h2.mb-4 Mejores Precios
                    p Aliquam efficitur euismod nisi, vitae vehicula felis laoreet quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a gravida dolor
